@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #011936ff;
  --secondary-color: #ed254eff;
  --tertiary-color: #f4fffdff;
  --primary-color-opaque: rgba(1, 25, 54, 0.5);
  --secondary-color-opaque: rgb(237, 37, 78, 0.5);
  --text-color-dark: black;
  --text-color-light: #f4fffdff;
}

body {
  overflow: hidden;
}

.bg {
  background: var(--tertiary-color);
  color: var(--text-color-dark);
}
.bg-dark {
  background: var(--primary-color);
  color: var(--text-color-light);
}

.bg-medium {
  background: var(--secondary-color);
  color: var(--text-color-dark);
}

.heading-1 {
  font-size: 4rem;
}
.heading-2 {
  font-size: 2rem;
}

.font-heavy {
  font-weight: 900;
}

.flex-class-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn {
  display: inline-block;
  width: 10rem;
  height: 4rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  background: none;
  color: var(--text-color-light);
  border: 0;
  transition: 500ms;
  transition-property: background, color;
}
.btn:hover {
  background: var(--secondary-color);
  color: var(--text-color-dark);
}

/* Nav-Bar CSS */
#nav-bar {
  position: fixed;
  display: flex;
  width: 100vw;
  z-index: 2;
}

.nav-list {
  margin: auto;
  background: #333;
  display: flex;
  flex-direction: row;
  list-style: none;
  z-index: 1;
}

.nav-list li a {
  padding: 1.4rem;
  text-decoration: none;
}

/* Main Page Content Css */

.main-content {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center center;
  /* background: url("/img/bg-main-img.jpg") no-repeat center center/cover; */
}

.main-heading {
  visibility: hidden;
  cursor: default;
  text-align: left;
  margin-left: 0rem;
  color: var(--text-color-dark);
  opacity: 0;
  animation: heading-animation 2s forwards;
}

@keyframes heading-animation {
  to {
    visibility: visible;
    opacity: 1;
    margin-left: 5rem;
  }
}

.prog-lang {
  list-style: none;
  font-size: 6rem;
}

.prog-lang li {
  visibility: hidden;
  margin: 0.5rem 0;
  text-align: center;
  animation: list-animation 2s forwards ease;
  transform: translateX(10rem);
  opacity: 0;
}

.prog-lang li:nth-child(1) i {
  color: #f7df1e;
}
.prog-lang li:nth-child(2) i {
  color: #61dbfb;
}
.prog-lang li:nth-child(3) i {
  color: #ffe873;
}
.prog-lang li:nth-child(4) i {
  color: #e44d26;
}
.prog-lang li:nth-child(5) i {
  color: #264de4;
}

@keyframes list-animation {
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}

.background-slide-main {
  position: absolute;
  background: var(--primary-color);
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  transform: skew(45deg);
}

.btn-contact {
  margin-left: 5rem;
}

/* About Me Page CSS */

.about-me-container {
  background: var(--tertiary-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.background-slide-container {
  position: absolute;
  background: var(--primary-color-opaque);
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  transform: skew(45deg);
}

.about-me-info {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 0%;
  height: 80%;
  background: var(--primary-color);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: about-me 2s forwards ease;
}

@keyframes about-me {
  to {
    width: 80%;
    opacity: 1;
  }
}

.about-me-p {
  text-align: center;
  font-size: 2rem;
  padding: 0 2rem;
  margin: auto;
}
.about-me-details {
  width: 100%;
  margin: auto;
  display: flex;
}

.about-me-details-left,
.about-me-details-right {
  width: 50%;
  font-size: 2rem;
}
.about-me-details-left ul li {
  margin-left: 4rem;
  font-size: 1.5rem;
}

.about-me-icons-detail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}
.about-me-details-right {
  display: flex;
  flex-direction: column;
}
.about-me-details-right .resume-op,
.about-me-details-right ul {
  margin: auto;
}

.about-me-icons {
  list-style: none;
}
.about-me-icons li {
  margin: 1rem;
}

.icon a {
  font-size: 5rem;

  color: var(--text-color-light);
  transition: 500ms;
  transition-property: color;
}
.icon a:hover {
  color: var(--secondary-color);
}

/* Skills page css */

.skills-container {
  background: var(--tertiary-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.background-slide-skill {
  position: absolute;
  background: var(--primary-color-opaque);
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  transform: skew(135deg);
}

.skills-content {
  margin: auto;
  background: var(--primary-color);
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-p {
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: var(--text-color-light);
}

.skills-progress {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.skills-progress ul {
  list-style: none;
  width: 100%;
}
.skills-progress ul li {
  margin: 2rem 0;
}
.skills-progress ul li h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--text-color-dark);
}
.skills-progress ul li div {
  height: 0.5rem;
}
.skills-progress ul li div .bar-js {
  opacity: 0;
  height: 100%;
  width: 0;
  animation: bar-js 2s forwards ease;
}
.skills-progress ul li div .bar-html {
  opacity: 0;
  height: 100%;
  width: 0;
  animation: bar-html 2s forwards ease;
}
.skills-progress ul li div .bar-css {
  opacity: 0;
  height: 100%;
  width: 0;
  animation: bar-css 2s forwards ease;
}
.skills-progress ul li div .bar-python {
  opacity: 0;
  height: 100%;
  width: 0;
  animation: bar-python 2s forwards ease;
}
@keyframes bar-js {
  to {
    width: 70%;
    background: #f7df1e;
    opacity: 1;
  }
}
@keyframes bar-html {
  to {
    width: 85%;
    background: #e44d26;
    opacity: 1;
  }
}
@keyframes bar-css {
  to {
    width: 85%;
    background: #264de4;
    opacity: 1;
  }
}
@keyframes bar-python {
  to {
    width: 60%;
    background: var(--secondary-color);
    opacity: 1;
  }
}
.show {
  visibility: visible;
  opacity: 1;
  transition: all 1s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
}
